<mat-card class="max-w-96">
  <mat-card-header>
    <mat-card-title>
      <div class="inline-flex gap-4 items-center">
        <mat-icon color="primary">bar_chart</mat-icon>
        {{ formData.title }}
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field class="w-full">
        <mat-label>{{ formData.name }}</mat-label>
        <input matInput placeholder="" formControlName="value">
        @if (form.get('value')?.hasError('required')) {
          <mat-error>Поле обязательное.</mat-error>
        }
        @if (form.get('value')?.hasError('min') ||
            form.get('value')?.hasError('max') ||
            form.get('value')?.hasError('pattern')
          ) {
          <mat-error>Допустимое значение от 0 до 1000.</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>{{ formData.date }}</mat-label>
        <input formControlName="date" matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        @if (form.get('date')?.hasError('required')) {
          <mat-error>Поле обязательное.</mat-error>
        }
      </mat-form-field>

    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button [disabled]="!form.valid" (click)="cancelForm()" class="mr-4" mat-stroked-button>Откатить</button>
    <button [disabled]="!form.valid" (click)="formSubmit()" mat-flat-button color="primary">Сохранить</button>
  </mat-card-actions>
</mat-card>


