<mat-card class="max-w-96">
  <mat-card-header>
    <mat-card-title>
      <div class="inline-flex gap-4 items-center">
        <mat-icon color="primary">bar_chart</mat-icon>
        {{ formData.title }}
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field class="w-full">
        <mat-label>{{ formData.name }}</mat-label>
        <input matInput placeholder="" formControlName="name">
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>{{ formData.date }}</mat-label>
        <input formControlName="date" matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button class="mr-4" mat-stroked-button>Откатить</button>
    <button (click)="formSubmit()" mat-flat-button color="primary">Сохранить</button>
  </mat-card-actions>
</mat-card>


